.home {
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}
.shadow-lg, .shadow-md {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}