 nav{
    display: flex;
    padding: 15px 30px;
    background-color: rgba(229, 186, 107, 0.76);
    border-bottom: 2px solid rgb(72 58 208 / 45%);
    align-items: center;
    justify-content: space-between;
    height: 30px;
    font-family: fangsong;
    font-weight: bold;
    box-shadow: 5px 5px 10px gray;
}
.logi{
  font-size: 1.5rem;
  font-weight: bold;
  transition:  color 0.3s ease;
}
.logi:hover{
  color: #a2ff00;
}
.link{
    list-style: none;
  display: flex;
  gap: 1rem;
  right: 35vw;
  
}
link{
   cursor: pointer; 
  transition: color 0.3s;
}
li:hover{
  color: #b5b9be;
} 
 media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 575px) {
    .container {
        max-width: 575px;
    }
}
@media (min-width: 450px) {
    .container {
        max-width: 450px;
    }
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
